
*{
    padding: 0px;
    margin: 0px;
}

p {
    text-align: justify;
}

article {
    height: 200px;
    background-color: aqua;
    width: 200px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 20px 0px 20px 0px;
    opacity: 1;
}